<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt"/>
  </resultMap>
  <!--  &amp;lt;resultMap id="BaseResultMap" type="com.example.demo.model.UserInfo"&amp;gt;
        &amp;lt;id column="id" jdbcType="VARCHAR" property="id" /&amp;gt;
        &amp;lt;result column="user_name" jdbcType="VARCHAR" property="userName" /&amp;gt;
    &amp;lt;/resultMap&amp;gt;-->

    <sql id="Base_Column_List">
      id,user_name,password,sal
    </sql>

</mapper>